@charset "UTF-8";

body{
/* 	width: 100%; */
	min-width: 800px;
	font-family: 'Gowun Dodum', sans-serif;
	font-size : 19px;
	padding:20px;
}

h1{
	margin-bottom: 0px;
}

#all_body_div{
	width: 93%;
	margin: auto;
    text-align: center
}

hr{
	margin: 0 0 20px 0;
}

th{
	text-align: center;
}


/* 검색  */
span{
	font-weight: bold;
}


